body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}
nav{
    background-color: rgba(113, 4, 160, 0.784);
    color: white;
    padding: 20px;
}
nav a{
    color: white;
}
main{
    text-align: center;
    margin: 20px;
}